body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.legend {
  padding: 10px;
  font-family: sanchez, seref;
  font-size: 15px;
  font-weight: bold;
  line-height: 18px;
  background-color: white;
  border-radius: 5px;;

}

.legend i {
  width:18px;
  float: left;
  height: 18px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 8px;
  margin-bottom: 0px;
}